a{
    color: #000;
}

/*======FORM SEARCH======*/
#form_search, .alert, #data_table, #pagging, p.error{
    margin: 0px auto;
    width: 960px;
}

#form_search{
    border: 1px solid#000000;
    margin-top: 100px;
    margin-bottom:100px;
}

#form_search form{
    position: relative;
    margin: 40px 50px;
}

#form_search input[type=text], input[type=email]{
    position: absolute;
    left: 100px;
}

#form_search input[type=submit]{
    width: 70px;
}

#form_search #reset{
    background: #ffb7ab;
}

#form_search #search{
    color: #fff;
    background: #5858d6;
}

.alert{
    background: #7bed9f;
    padding: 10px;
    margin-top: 50px;
    display: none;
}

#data_table th, td{
    text-align: center;
}

#data_table td{
    height: 150px;
}

#data_table table{
    width: 100%;
    border-collapse: collapse;
}

#edit, #delete{
    border: 1px solid#000000;
    border-radius: 5px;
    padding: 10px;
}

#edit a, #delete a{
    color: #ffffff;
}

#edit{
    background: #a2dba9;
}

#delete{
    background: #d24141;
}

/*======PAGGING======*/
#pagging{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

#pagging a{
    margin: 0px 5px;
}

p.error{
    color: red;
    padding: 5px;
    position: absolute;
    top: 90px;
    left: 287px;
}

#data_table table th i{
    margin-left: 5px;
}